<h1><%= t('mintube.jslicensehead') %></h1>
<table id="jslicense-labels1">
  <tr>
    <td>community.js</td>

    <td>
      <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a>
    </td>

    <td>
      <a href="https://github.com/mint-lgbt/mintube/blob/master/app/javascript/packs/community.js"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>embed.js</td>

    <td>
      <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a>
    </td>

    <td>
      <a href="https://github.com/mint-lgbt/mintube/blob/master/app/javascript/packs/embed.js"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>notifications.js</td>

    <td>
      <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a>
    </td>

    <td>
      <a href="https://github.com/mint-lgbt/mintube/blob/master/app/javascript/packs/notifications.js"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>player.js</td>

    <td>
      <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a>
    </td>

    <td>
      <a href="https://github.com/mint-lgbt/mintube/blob/master/app/javascript/packs/player.js"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>silvermine-videojs-quality-selector.min.js</td>

    <td>
      <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
    </td>

    <td>
      <a href="https://github.com/omarroth/videojs-quality-selector"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>sse.js</td>

    <td>
      <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
    </td>

    <td>
      <a href="https://github.com/mpetazzoni/sse.js"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>subscribe_widget.js</td>

    <td>
      <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a>
    </td>

    <td>
      <a href="https://github.com/mint-lgbt/mintube/blob/master/app/javascript/packs/subscribe_widget.js"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>theme.js</td>

    <td>
      <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a>
    </td>

    <td>
      <a href="https://github.com/mint-lgbt/mintube/blob/master/app/javascript/packs/themes.js"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>videojs-contrib-quality-levels.js</td>

    <td>
      <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
    </td>

    <td>
      <a href="https://github.com/videojs/videojs-contrib-quality-levels"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>videojs-http-source-selector.js</td>

    <td>
      <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
    </td>

    <td>
      <a href="https://github.com/jfujita/videojs-http-source-selector"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>videojs-markers.js</td>

    <td>
      <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
    </td>

    <td>
      <a href="https://github.com/spchuang/videojs-markers"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>videojs-overlay.js</td>

    <td>
      <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
    </td>

    <td>
      <a href="https://github.com/brightcove/videojs-overlay"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>videojs-share.js</td>

    <td>
      <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
    </td>

    <td>
      <a href="https://github.com/mkhazov/videojs-share"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>videojs-vtt-thumbnails.js</td>

    <td>
      <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
    </td>

    <td>
      <a href="https://github.com/omarroth/videojs-vtt-thumbnails"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>videojs-youtube-annotations.js</td>

    <td>
      <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPL-3.0</a>
    </td>

    <td>
      <a href="https://github.com/afrmtbl/videojs-youtube-annotations"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>video.js</td>

    <td>
      <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache-2.0-only</a>
    </td>

    <td>
      <a href="https://github.com/videojs/video.js"><%= t('mintube.source') %></a>
    </td>
  </tr>

  <tr>
    <td>watch.js</td>

    <td>
      <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a>
    </td>

    <td>
      <a href="https://github.com/mint-lgbt/mintube/blob/master/app/javascript/packs/watch.js"><%= t('mintube.source') %></a>
    </td>
  </tr>
</table>
